.nav-tabs .nav-link.active {
  
    border:none !important;
    border-bottom:2px solid linear-gradient(to right, #485ef1, #6e28e5) !important;
    border-top-right-radius:0px !important;
    border-top-left-radius:0px !important;
    border-radius: 0px;
    
}